    body {
        background-image: url("./images/Flag Mtn.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    div.a {
        text-indent: 10%;
        text-indent: hanging 15%;
    }
    img {
        border-radius: 8px;
    }